/* Custom app CSS */
@layer components {

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        background: conic-gradient(
            from 90deg at 50% 50%,
            #F2E9DB 0deg,
            #F3E8D8 0.04deg,
            #D7B792 360deg
        );
        border-radius: 56px;
        animation: 1.25s rotate infinite linear;
    }

    .spinner::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        @apply bg-washed-black;
        border-radius: 48px;
    }

    

    /* Default screen styles */
    .screen {
        @apply absolute inset-0 opacity-0 pointer-events-none z-0;
        &.active {
            @apply opacity-100 pointer-events-auto z-10;
        }
    }

    /* Default answer button styles etc */
    button {
        @apply hover:cursor-pointer;
    }
    .answer-btn {
        @apply w-full h-[200px] bg-buff rounded-xl transition-all duration-200 text-washed-black font-semibold text-4xl leading-tight text-center flex items-center justify-center px-8;
    }

    /* Timeout screen styles */
    .timeout-screen {
        @apply absolute inset-0 bg-washed-black flex items-center justify-center z-50 opacity-0 pointer-events-none;
    }

    
}