/* Custom app CSS */
@layer components {
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .spinner, .spinner-light {
        @apply w-[50px] h-[50px] rounded-full box-border animate-rotate
         [background:conic-gradient(from_90deg_at_50%_50%,#1e1d1c_0deg,#1e1d1c_0.04deg,#D7B792_360deg)];
    }

    .spinner::before,
    .spinner-light::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        border-radius: 48px;
    }

    .spinner::before {
        @apply bg-washed-black;
    }

    .spinner-light::before {
        @apply bg-[#292928];
    }

    

    /* Default screen styles */
    .screen {
        @apply absolute inset-0 opacity-0 pointer-events-none z-0;
        &.active {
            @apply opacity-100 pointer-events-auto z-10;
        }
    }

    /* Default answer button styles etc */
    button {
        @apply hover:cursor-pointer;
    }
    .answer-btn {
        @apply w-full h-[200px] bg-buff rounded-xl transition-all duration-200 text-washed-black font-semibold text-4xl leading-tight text-center flex items-center justify-center px-8;
    }

    /* Timeout screen styles */
    .timeout-screen {
        @apply absolute inset-0 bg-washed-black flex items-center justify-center z-50;
    }
}
