@layer utilities {
    .t-button {
        @apply text-3xl font-extrabold leading-11;
        letter-spacing: 0.555rem;
    }

    .t-copy-md {
        @apply font-semibold tracking-wide;
        font-size: 1.62rem;
        line-height: calc(var(--spacing) * 9.5);
    }

    .t-copy {
        @apply text-3xl font-bold leading-10 tracking-wide;
        line-height: calc(var(--spacing) * 9.49);
    }

    .t-copy-lg {
        @apply font-semibold tracking-wide;
        line-height: calc(var(--spacing) * 12.75);
        font-size: 2.5rem;
    }

}